<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <nav class="navbar">
      <h1 class="title">My Blog!</h1>
  
        <ul class="nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#">Create Blog</a>
          </li>
          <li>
            <a href="#">Sign In</a>
          </li>
        </ul>

        <div class="hamburger">
          <span id="openHamburger">&#9776;</span>
          <span id="closeHamburger">&#x2716;</span>
        </div>
      
      </nav>
    </nav>

  </body>
</html>
