<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/fee77df2ed.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Blog</title>
</head>
<body>

  <header>
    <div class="container">
      <h1 class="title">My Blog!</h1>
      <div class="border"></div>
    </div>
  </header>


  <main>
    <div class="container">
      <div class="blog-container">
        <article>
          <div class="blog-date">March 6, 2025</div>
          <div class="blog-title">Boost your conversion rate</div>
          <div class="blog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quos maxime quam laborum ea temporibus eveniet ut harum porro, aut facilis, soluta praesentium unde quis rerum aliquam ex qui eos.</div>
          <div class="blog-user">John Doe</div>
        </article>

        <article>
          <div class="blog-date">March 6, 2025</div>
          <div class="blog-title">Boost your conversion rate</div>
          <div class="blog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quos maxime quam laborum ea temporibus eveniet ut harum porro, aut facilis, soluta praesentium unde quis rerum aliquam ex qui eos.</div>
          <div class="blog-user">John Doe</div>
        </article>

        <article>
          <div class="blog-date">March 6, 2025</div>
          <div class="blog-title">Boost your conversion rate</div>
          <div class="blog-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quos maxime quam laborum ea temporibus eveniet ut harum porro, aut facilis, soluta praesentium unde quis rerum aliquam ex qui eos.</div>
          <div class="blog-user">John Doe</div>
        </article>

      

        

      </div>

    </div>
  </main>

  <footer>
    <div class="container">
      <div class="footer-container">

        <div class="footer-icon-text">
          <h2 class="footer-text">
            Eager to <span>Excel</span>? <br />
            Start Here.
          </h2>
          <div class="footer-icons">
            <i class="fa-brands fa-facebook fa-2xl" style="color: #74C0FC;"></i>
            <i class="fa-brands fa-x-twitter fa-2xl" style="color: #74C0FC;"></i>
            <i class="fa-brands fa-tiktok fa-2xl" style="color: #74C0FC;"></i>
            <i class="fa-brands fa-instagram fa-2xl" style="color: #74C0FC;"></i>
            
          </div>
        </div>
  
        <div class="bottom-footer">
          <div class="bottom-left-footer">
            <p>© 2025 My Blog</p>
          </div>
          <div class="bottom-right-footer">
            <p>Privacy policy</p>
            <p>Terms & conditions</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
</body>
</html>