@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Merriweather:wght@700&family=Open+Sans:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-500: #74C0FC;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: 'Open Sans'
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: ghostwhite;
}


.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 auto;
}

.title {
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--primary-500);
  text-align: left;
  font-size: 30px;
}

.navbar {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 5px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font-secondary);
}

.navbar a:hover {
  color: var(--primary-500);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar ul li {
  margin-left: 20px;
  list-style-type: none;
}



.border {
  border: 1px solid #e5e7eb;
  margin-top: 1rem;
}


.blog-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  row-gap: 50px;
  margin: 20px;
  justify-items: center; /* Centers items within grid cells */
  align-items: center; /* Centers items within each row */
}



article {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 95%;
  width: 95%;
  
}


.blog-date {
  font-family: 'Inter', sans-serif; 
  font-size: 14px; 
  font-weight: 400;
  color: #6b7280;
  margin-bottom: 8px;
}

.blog-title {
  font-family: 'Merriweather', serif; 
  font-size: 1.5rem; 
  font-weight: 700;
  color: #111827; 
  cursor: pointer;
  margin-bottom: 12px;
}

.blog-title:hover {
  color: #10141dc9;
}

.blog-content {
  font-family: var(--font-secondary);
  font-size: 15px;
  max-width: 90%;
  font-weight: 400;
  line-height: 1.6; 
  color: #374151;
  margin-bottom: 14px;
}

.blog-user {
  font-family: 'Inter', sans-serif;
  font-size: 14px; 
  font-weight: 500;
  color: #1f2937;
}



footer {
  background-color: black;
  margin-top: 3rem;
  width: 100%;
  position:absolute;
  bottom:0;
  padding: 5px 5px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}

.footer-text {
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
}

.footer-text span {
  color: var(--primary-500);
}

.footer-icon-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-right: 10px;
  max-width: 100%;
}

.footer-icons i {
  cursor: pointer;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  padding-bottom: 1rem;
  padding-top: 5px;
  border-top: 1px solid white;
  cursor: pointer;
}

.bottom-left-footer {
  font-family: var(--font-secondary);
  font-size: 16px;
  color: white;
}

.bottom-right-footer {
  font-family: var(--font-secondary);
  font-size: 16px;
  display: flex;
  color: white;
  gap: 30px;
}













/* Sign up and Log in */

.login-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  max-width: 23%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 99;
  font-family: 'Montserrat', sans-serif;
}


.login-container h1, .signup-container h1 {
  margin-bottom: 12px;
  font-weight: 600;
}

.login-subtitle {
  margin-bottom: 30px;
  opacity: 0.5;
  font-size: 18px;
  text-align: center;
}


.login-container button, .signup-container button {
  margin-top: 5rem;
  background-color: #0088ff;
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  font-size: 15px;
  display: block;
  width: 100%;
  margin: 3rem auto 0 auto;
  text-align: center;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.login-container button:hover, .signup-container button:hover {
  background-color: rgb(31, 117, 230);
  transition: all ease 1.2s;
}


 #username {
  margin-bottom: 30px;
}

.login-container input, .signup-container input {
  padding: 10px;
  margin-top: 5px;
  color: black;

}

.login-container label, .signup-container label {
  font-size: 15px;
}

.sign-up-button {     /* on login page */
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}

.sign-up-account {    /* on login page */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: gray;
}


.span-sign-up {       /* on login page */
  color: #0088ff;
  cursor: pointer;
}

.logo {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: auto;
}




/* Form  */


.form-container {
  background-color: white;
  width: 30%;
  padding: 30px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
 }
 
 .form {
   background-color: white;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 100%;
   align-items: start;
   justify-content: center;
 }
 
 
 input {
   border-radius: 2px;
   border: solid 1px rgb(199, 195, 195);
   padding: 6px 20px;
   font-family: var(--font-primary), sans-serif;
   width: 100%;
   background-color: rgb(253, 249, 249);
 }
 
 /* Add focus styles for inputs */
 input[type="text"]:focus, input[type="password"]:focus {
   border-color: #007bff; /* Bright blue border color on focus */
   box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); /* Subtle glow effect */
 }
 
 /* Add placeholder styling */
 input[type="text"]::placeholder input[type="password"]::placeholder {
   color: #aaa; /* Light gray placeholder text for a modern touch */
   opacity: 1; 
 }
 
 
 
 /* Style for the form and text inputs */
 input[type="text"], input[type="password"] {
   font-family: var(--font-primary), Arial, sans-serif; 
   font-size: 15px; 
   color: #333;
   outline: none; 
   margin-bottom: 16px;
   border: 1px solid #ddd; 
   border-radius: 2px; 
   background-color: #f9f9f9; 
   transition: border-color 0.3s, box-shadow 0.3s; 
  }
  
  

  /* For non auth forms*/

  .input-group {
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
    font-family: var(--font-primary), sans-serif;
  }
  
  .input-group p, input {
    font-family: 'Quicksand', sans-serif;
    margin: 4px;
    font-size: 15px;
  }
  
  
  .input-group input {   
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    width: 280px;
    margin-bottom: 24px; 
  }
  

/* Navigation Bar  */
.hamburger {
  display: none;
}





/* Mobile Responsive */

@media (max-width: 768px) {
    /* Mobile Nav */
    .hamburger {
      display: flex;
      cursor: pointer;
      font-size: 30px;
    }
    .hamburger #closeHamburger {
      display: none;
    }
  
    header nav .nav {
      display: none;
      transition: transform 0.5s ease-in-out;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      position: absolute;
      right: 0;
      top: 64px;
      background-color: rgba(249, 249, 252, 0.897); /* Use rgba for background with alpha for transparency */
      width: 100%;
      height: calc(100vh - 40px);
      padding-top: 20px;
      gap: 20px;
      backdrop-filter: blur(5px);
      z-index: 1; 
      opacity: 1;
    }
    
    header nav .nav a {
      font-size: 20px;
      color: black;
      font-family: 'Open Sans';
      text-transform: uppercase;
    }

  
}

@media (max-width: 500px) {
  .footer-text {
    font-size: 35px;
    text-align: center;
  }
  .footer-icon-text {
    flex-direction: column;
    gap: 22px;
  }

  .bottom-footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }

  .bottom-right-footer {
    gap: 4px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}


@media (max-width: 368px) {
  .footer-icons{
    width: 100%;
    flex-direction: row;
  }
 
}

